In [1]:
import pandas as pd
import numpy as np
from util import calendar

In [123]:
srcDF = pd.read_excel("cashflow.xlsx", parse_dates=[1], engine="openpyxl", names=["code","date","pay"])

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [124]:
srcDF.head(10)

     code       date       pay
0  OIT044 2022-01-31  19250.00
1  OIT052 2022-01-31  48500.00
2  OIT033 2022-02-28  38250.00
3  OIT039 2022-02-28  11200.00
4  OIT043 2022-02-28   6300.00
5  OIT048 2022-02-28   4000.00
6  OIT049 2022-02-28  24000.00
7  OIT050 2022-02-28  13000.00
8  OIT051 2022-02-28   9763.35
9  OIT006 2022-03-31   6500.00

In [126]:
df = srcDF.copy()
df["date"] = (df["date"].dt.month).apply(calendar.int_month_to_str)

In [128]:
df.head(10)

     code      date       pay
0  OIT044   Gennaio  19250.00
1  OIT052   Gennaio  48500.00
2  OIT033  Febbraio  38250.00
3  OIT039  Febbraio  11200.00
4  OIT043  Febbraio   6300.00
5  OIT048  Febbraio   4000.00
6  OIT049  Febbraio  24000.00
7  OIT050  Febbraio  13000.00
8  OIT051  Febbraio   9763.35
9  OIT006     Marzo   6500.00

In [129]:
pdf = df.pivot(index="code", columns="date", values="pay")

In [130]:
pdf

date      Aprile  Febbraio  Gennaio    Giugno   Luglio    Marzo  Settembre
code
OIT006  18500.00       NaN      NaN       NaN      NaN   6500.0        NaN
OIT012       NaN       NaN      NaN  10110.00      NaN  10000.0        NaN
OIT019       NaN       NaN      NaN       NaN      NaN  19500.0        NaN
OIT024       NaN       NaN      NaN  23247.39      NaN      NaN        NaN
OIT029  10413.35       NaN      NaN       NaN      NaN  10400.0        NaN
OIT030       NaN       NaN      NaN    482.94      NaN      NaN        NaN
OIT033  63750.00  38250.00      NaN       NaN      NaN  25500.0        NaN
OIT037       NaN       NaN      NaN  19144.74      NaN      NaN        NaN
OIT038       NaN       NaN      NaN       NaN      NaN  10555.0   10554.31
OIT039       NaN  11200.00      NaN       NaN      NaN      NaN   20000.00
OIT040       NaN       NaN      NaN       NaN   2500.0  10000.0        NaN
OIT042       NaN       NaN      NaN       NaN      NaN  20000.0   20000.00
OIT043       NaN   6300.00      NaN   6758.83      NaN   6300.0        NaN
OIT044       NaN       NaN  19250.0       NaN  19250.0      NaN        NaN
OIT048   8000.00   4000.00      NaN   8000.00      NaN      NaN        NaN
OIT049       NaN  24000.00      NaN       NaN      NaN      NaN        NaN
OIT050       NaN  13000.00      NaN       NaN      NaN      NaN        NaN
OIT051       NaN   9763.35      NaN       NaN      NaN      NaN        NaN
OIT052       NaN       NaN  48500.0       NaN      NaN      NaN        NaN
OIT053       NaN       NaN      NaN  75000.00      NaN      NaN        NaN

In [41]:
df = srcDF.set_index(srcDF.iloc[:,0]).sort_index().iloc[:, 1:]

In [90]:
df.head(10)

,data fatturazione prevista,importo acconto fatturato
offerte e commesse::codice_commessa,,
OIT006,2022-03-31,6500.00
OIT006,2022-04-30,18500.00
OIT012,2022-03-31,10000.00
OIT012,2022-06-30,10110.00
OIT019,2022-03-31,19500.00
OIT024,2022-06-30,23247.39
OIT029,2022-03-31,10400.00
OIT029,2022-04-30,10413.35
OIT030,2022-06-30,482.94
OIT033,2022-02-28,38250.00

In [68]:
current_year = 2022

In [72]:
prev_year_mask = df["data fatturazione prevista"].dt.year < current_year
curr_year_mask = df["data fatturazione prevista"].dt.year == current_year
next_year_mask = df["data fatturazione prevista"].dt.year > current_year

In [74]:
prev_year_total = df[prev_year_mask]["importo acconto fatturato"].sum()
next_year_total = df[next_year_mask]["importo acconto fatturato"].sum()

In [75]:
prev_year_total, next_year_total

(0.0, 0.0)

In [87]:
from util.calendar import int_month_to_str

currDF = df[curr_year_mask]
currDF["data fatturazione prevista"] =  (currDF["data fatturazione prevista"].dt.month).apply(int_month_to_str)

In [89]:
currDF.head(10)

,data fatturazione prevista,importo acconto fatturato
offerte e commesse::codice_commessa,,
OIT006,Marzo,6500.00
OIT006,Aprile,18500.00
OIT012,Marzo,10000.00
OIT012,Giugno,10110.00
OIT019,Marzo,19500.00
OIT024,Giugno,23247.39
OIT029,Marzo,10400.00
OIT029,Aprile,10413.35
OIT030,Giugno,482.94
OIT033,Febbraio,38250.00

In [117]:
for m in range(1, 13):
    month = int_month_to_str(m)
    month_mask = currDF["data fatturazione prevista"] == month
    currDF[month] = np.where(currDF["data fatturazione prevista"] == month, currDF["importo acconto fatturato"], 0)
    
currMonthly = currDF.groupby(currDF.index).sum()

In [118]:
currMonthly

,importo acconto fatturato,Gennaio,Febbraio,Marzo,Aprile,Maggio,Giugno,Luglio,Agosto,Settembre,Ottobre,Novembre,Dicembre
offerte e commesse::codice_commessa,,,,,,,,,,,,,
OIT006,25000.00,0.0,0.00,6500.0,18500.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT012,20110.00,0.0,0.00,10000.0,0.00,0.0,10110.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT019,19500.00,0.0,0.00,19500.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT024,23247.39,0.0,0.00,0.0,0.00,0.0,23247.39,0.0,0.0,0.00,0.0,0.0,0.0
OIT029,20813.35,0.0,0.00,10400.0,10413.35,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT030,482.94,0.0,0.00,0.0,0.00,0.0,482.94,0.0,0.0,0.00,0.0,0.0,0.0
OIT033,127500.00,0.0,38250.00,25500.0,63750.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT037,19144.74,0.0,0.00,0.0,0.00,0.0,19144.74,0.0,0.0,0.00,0.0,0.0,0.0
OIT038,21109.31,0.0,0.00,10555.0,0.00,0.0,0.00,0.0,0.0,10554.31,0.0,0.0,0.0
OIT039,31200.00,0.0,11200.00,0.0,0.00,0.0,0.00,0.0,0.0,20000.00,0.0,0.0,0.0
OIT040,12500.00,0.0,0.00,10000.0,0.00,0.0,0.00,2500.0,0.0,0.00,0.0,0.0,0.0
OIT042,40000.00,0.0,0.00,20000.0,0.00,0.0,0.00,0.0,0.0,20000.00,0.0,0.0,0.0
OIT043,19358.83,0.0,6300.00,6300.0,0.00,0.0,6758.83,0.0,0.0,0.00,0.0,0.0,0.0
OIT044,38500.00,19250.0,0.00,0.0,0.00,0.0,0.00,19250.0,0.0,0.00,0.0,0.0,0.0
OIT048,20000.00,0.0,4000.00,0.0,8000.00,0.0,8000.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT049,24000.00,0.0,24000.00,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT050,13000.00,0.0,13000.00,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT051,9763.35,0.0,9763.35,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT052,48500.00,48500.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT053,75000.00,0.0,0.00,0.0,0.00,0.0,75000.00,0.0,0.0,0.00,0.0,0.0,0.0

In [119]:
currMonthly.to_excel("test.xlsx")

In [1]:
import pandas as pd
import numpy as np
from util import calendar
from data_handling.main import process_xlsx

In [2]:
f1, f2 = process_xlsx("cashflow.xlsx",2022, calendar.months)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
f1

,Anni Precedenti,Gennaio,Febbraio,Marzo,Aprile,Maggio,Giugno,Luglio,Agosto,Settembre,Ottobre,Novembre,Dicembre,Anni Successivi,Totale Fatturato
code,,,,,,,,,,,,,,,
OIT006,0.0,0.0,0.00,6500.0,18500.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,25000.00
OIT012,0.0,0.0,0.00,10000.0,0.00,0.0,10110.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,20110.00
OIT019,0.0,0.0,0.00,19500.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,19500.00
OIT024,0.0,0.0,0.00,0.0,0.00,0.0,23247.39,0.0,0.0,0.00,0.0,0.0,0.0,0.0,23247.39
OIT029,0.0,0.0,0.00,10400.0,10413.35,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,20813.35
OIT030,0.0,0.0,0.00,0.0,0.00,0.0,482.94,0.0,0.0,0.00,0.0,0.0,0.0,0.0,482.94
OIT033,0.0,0.0,38250.00,25500.0,63750.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,127500.00
OIT037,0.0,0.0,0.00,0.0,0.00,0.0,19144.74,0.0,0.0,0.00,0.0,0.0,0.0,0.0,19144.74
OIT038,0.0,0.0,0.00,10555.0,0.00,0.0,0.00,0.0,0.0,10554.31,0.0,0.0,0.0,0.0,21109.31
OIT039,0.0,0.0,11200.00,0.0,0.00,0.0,0.00,0.0,0.0,20000.00,0.0,0.0,0.0,0.0,31200.00
OIT040,0.0,0.0,0.00,10000.0,0.00,0.0,0.00,2500.0,0.0,0.00,0.0,0.0,0.0,0.0,12500.00
OIT042,0.0,0.0,0.00,20000.0,0.00,0.0,0.00,0.0,0.0,20000.00,0.0,0.0,0.0,0.0,40000.00
OIT043,0.0,0.0,6300.00,6300.0,0.00,0.0,6758.83,0.0,0.0,0.00,0.0,0.0,0.0,0.0,19358.83
OIT044,0.0,19250.0,0.00,0.0,0.00,0.0,0.00,19250.0,0.0,0.00,0.0,0.0,0.0,0.0,38500.00
OIT048,0.0,0.0,4000.00,0.0,8000.00,0.0,8000.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,20000.00
OIT049,0.0,0.0,24000.00,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,24000.00
OIT050,0.0,0.0,13000.00,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,13000.00
OIT051,0.0,0.0,9763.35,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,9763.35
OIT052,0.0,48500.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,48500.00
OIT053,0.0,0.0,0.00,0.0,0.00,0.0,75000.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,75000.00

In [4]:
f2

,Anni Precedenti,Gennaio Fatturato,Gennaio Incasso,Febbraio Fatturato,Febbraio Incasso,Marzo Fatturato,Marzo Incasso,Aprile Fatturato,Aprile Incasso,Maggio Fatturato,...,Settembre Incasso,Ottobre Fatturato,Ottobre Incasso,Novembre Fatturato,Novembre Incasso,Dicembre Fatturato,Dicembre Incasso,Anni Successivi,Totale Fatturato,Totale Incasso
code,,,,,,,,,,,,,,,,,,,,,
OIT006,0.0,0.0,0,0.00,0,6500.0,0,18500.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,25000.00,0
OIT012,0.0,0.0,0,0.00,0,10000.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,20110.00,0
OIT019,0.0,0.0,0,0.00,0,19500.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,19500.00,0
OIT024,0.0,0.0,0,0.00,0,0.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,23247.39,0
OIT029,0.0,0.0,0,0.00,0,10400.0,0,10413.35,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,20813.35,0
OIT030,0.0,0.0,0,0.00,0,0.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,482.94,0
OIT033,0.0,0.0,0,38250.00,0,25500.0,0,63750.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,127500.00,0
OIT037,0.0,0.0,0,0.00,0,0.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,19144.74,0
OIT038,0.0,0.0,0,0.00,0,10555.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,21109.31,0
OIT039,0.0,0.0,0,11200.00,0,0.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,31200.00,0
OIT040,0.0,0.0,0,0.00,0,10000.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,12500.00,0
OIT042,0.0,0.0,0,0.00,0,20000.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,40000.00,0
OIT043,0.0,0.0,0,6300.00,0,6300.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,19358.83,0
OIT044,0.0,19250.0,0,0.00,0,0.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,38500.00,0
OIT048,0.0,0.0,0,4000.00,0,0.0,0,8000.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,20000.00,0
OIT049,0.0,0.0,0,24000.00,0,0.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,24000.00,0
OIT050,0.0,0.0,0,13000.00,0,0.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,13000.00,0
OIT051,0.0,0.0,0,9763.35,0,0.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,9763.35,0
OIT052,0.0,48500.0,0,0.00,0,0.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,48500.00,0
OIT053,0.0,0.0,0,0.00,0,0.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,75000.00,0