In [50]:
import pandas as pd
import numpy as np
from util import calendar

In [51]:
src = pd.read_excel("cashflow.xlsx", parse_dates=[1], engine="openpyxl", names=["code","date","amount"])
df = src.copy()
df.head(10)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

     code       date    amount
0  OIT044 2022-01-31  19250.00
1  OIT052 2022-01-31  48500.00
2  OIT033 2022-02-28  38250.00
3  OIT039 2022-02-28  11200.00
4  OIT043 2022-02-28   6300.00
5  OIT048 2022-02-28   4000.00
6  OIT049 2022-02-28  24000.00
7  OIT050 2022-02-28  13000.00
8  OIT051 2022-02-28   9763.35
9  OIT006 2022-03-31   6500.00

In [52]:
df["m"], df["y"] = (df["date"].dt.month).apply(calendar.int_month_to_str), df["date"].dt.year
df.head(10)

     code       date    amount         m     y
0  OIT044 2022-01-31  19250.00   Gennaio  2022
1  OIT052 2022-01-31  48500.00   Gennaio  2022
2  OIT033 2022-02-28  38250.00  Febbraio  2022
3  OIT039 2022-02-28  11200.00  Febbraio  2022
4  OIT043 2022-02-28   6300.00  Febbraio  2022
5  OIT048 2022-02-28   4000.00  Febbraio  2022
6  OIT049 2022-02-28  24000.00  Febbraio  2022
7  OIT050 2022-02-28  13000.00  Febbraio  2022
8  OIT051 2022-02-28   9763.35  Febbraio  2022
9  OIT006 2022-03-31   6500.00     Marzo  2022

In [53]:
current_year = 2022
df["prev"] = np.where(df["y"] < current_year, df["amount"], 0)
df["next"] = np.where(df["y"] > current_year, df["amount"], 0)
df.head(10)

     code       date    amount         m     y  prev  next
0  OIT044 2022-01-31  19250.00   Gennaio  2022   0.0   0.0
1  OIT052 2022-01-31  48500.00   Gennaio  2022   0.0   0.0
2  OIT033 2022-02-28  38250.00  Febbraio  2022   0.0   0.0
3  OIT039 2022-02-28  11200.00  Febbraio  2022   0.0   0.0
4  OIT043 2022-02-28   6300.00  Febbraio  2022   0.0   0.0
5  OIT048 2022-02-28   4000.00  Febbraio  2022   0.0   0.0
6  OIT049 2022-02-28  24000.00  Febbraio  2022   0.0   0.0
7  OIT050 2022-02-28  13000.00  Febbraio  2022   0.0   0.0
8  OIT051 2022-02-28   9763.35  Febbraio  2022   0.0   0.0
9  OIT006 2022-03-31   6500.00     Marzo  2022   0.0   0.0

In [55]:
for _, m in calendar.months.items():
    df[m] = np.where((df["m"] == m) & (df["y"] == current_year), df["amount"], 0)
df

,code,date,amount,m,y,prev,next,Gennaio,Febbraio,Marzo,Aprile,Maggio,Giugno,Luglio,Agosto,Settembre,Ottobre,Novembre,Dicembre
0,OIT044,2022-01-31,19250.00,Gennaio,2022,0.0,0.0,19250.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
1,OIT052,2022-01-31,48500.00,Gennaio,2022,0.0,0.0,48500.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
2,OIT033,2022-02-28,38250.00,Febbraio,2022,0.0,0.0,0.0,38250.00,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
3,OIT039,2022-02-28,11200.00,Febbraio,2022,0.0,0.0,0.0,11200.00,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
4,OIT043,2022-02-28,6300.00,Febbraio,2022,0.0,0.0,0.0,6300.00,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
5,OIT048,2022-02-28,4000.00,Febbraio,2022,0.0,0.0,0.0,4000.00,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
6,OIT049,2022-02-28,24000.00,Febbraio,2022,0.0,0.0,0.0,24000.00,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
7,OIT050,2022-02-28,13000.00,Febbraio,2022,0.0,0.0,0.0,13000.00,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
8,OIT051,2022-02-28,9763.35,Febbraio,2022,0.0,0.0,0.0,9763.35,0.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
9,OIT006,2022-03-31,6500.00,Marzo,2022,0.0,0.0,0.0,0.00,6500.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
10,OIT012,2022-03-31,10000.00,Marzo,2022,0.0,0.0,0.0,0.00,10000.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
11,OIT019,2022-03-31,19500.00,Marzo,2022,0.0,0.0,0.0,0.00,19500.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
12,OIT029,2022-03-31,10400.00,Marzo,2022,0.0,0.0,0.0,0.00,10400.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
13,OIT033,2022-03-31,25500.00,Marzo,2022,0.0,0.0,0.0,0.00,25500.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
14,OIT038,2022-03-31,10555.00,Marzo,2022,0.0,0.0,0.0,0.00,10555.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
15,OIT040,2022-03-31,10000.00,Marzo,2022,0.0,0.0,0.0,0.00,10000.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
16,OIT042,2022-03-31,20000.00,Marzo,2022,0.0,0.0,0.0,0.00,20000.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
17,OIT043,2022-03-31,6300.00,Marzo,2022,0.0,0.0,0.0,0.00,6300.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
18,OIT006,2022-04-30,18500.00,Aprile,2022,0.0,0.0,0.0,0.00,0.0,18500.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
19,OIT029,2022-04-30,10413.35,Aprile,2022,0.0,0.0,0.0,0.00,0.0,10413.35,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
20,OIT033,2022-04-30,63750.00,Aprile,2022,0.0,0.0,0.0,0.00,0.0,63750.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
21,OIT048,2022-04-30,8000.00,Aprile,2022,0.0,0.0,0.0,0.00,0.0,8000.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
22,OIT012,2022-06-30,10110.00,Giugno,2022,0.0,0.0,0.0,0.00,0.0,0.00,0.0,10110.00,0.0,0.0,0.00,0.0,0.0,0.0
23,OIT024,2022-06-30,23247.39,Giugno,2022,0.0,0.0,0.0,0.00,0.0,0.00,0.0,23247.39,0.0,0.0,0.00,0.0,0.0,0.0
24,OIT030,2022-06-30,482.94,Giugno,2022,0.0,0.0,0.0,0.00,0.0,0.00,0.0,482.94,0.0,0.0,0.00,0.0,0.0,0.0
25,OIT037,2022-06-30,19144.74,Giugno,2022,0.0,0.0,0.0,0.00,0.0,0.00,0.0,19144.74,0.0,0.0,0.00,0.0,0.0,0.0
26,OIT043,2022-06-30,6758.83,Giugno,2022,0.0,0.0,0.0,0.00,0.0,0.00,0.0,6758.83,0.0,0.0,0.00,0.0,0.0,0.0
27,OIT048,2022-06-30,8000.00,Giugno,2022,0.0,0.0,0.0,0.00,0.0,0.00,0.0,8000.00,0.0,0.0,0.00,0.0,0.0,0.0
28,OIT053,2022-06-30,75000.00,Giugno,2022,0.0,0.0,0.0,0.00,0.0,0.00,0.0,75000.00,0.0,0.0,0.00,0.0,0.0,0.0
29,OIT040,2022-07-31,2500.00,Luglio,2022,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.00,2500.0,0.0,0.00,0.0,0.0,0.0
30,OIT044,2022-07-31,19250.00,Luglio,2022,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.00,19250.0,0.0,0.00,0.0,0.0,0.0
31,OIT038,2022-09-30,10554.31,Settembre,2022,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,10554.31,0.0,0.0,0.0
32,OIT039,2022-09-30,20000.00,Settembre,2022,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,20000.00,0.0,0.0,0.0
33,OIT042,2022-09-30,20000.00,Settembre,2022,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,20000.00,0.0,0.0,0.0

In [41]:
agg = df.groupby(df["code"]).sum().sort_index()
agg = agg.drop("y", axis=1)
agg = agg.rename(columns={"prev":"Anni Precedenti", "next":"Anni Successivi", "amount":"Totale Fatturato"})

In [42]:
agg.head(10)

,Totale Fatturato,Anni Precedenti,Anni Successivi,Gennaio,Febbraio,Marzo,Aprile,Maggio,Giugno,Luglio,Agosto,Settembre,Ottobre,Novembre,Dicembre
code,,,,,,,,,,,,,,,
OIT006,25000.00,0.0,0.0,0.0,0.0,6500.0,18500.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT012,20110.00,0.0,0.0,0.0,0.0,10000.0,0.00,0.0,10110.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT019,19500.00,0.0,0.0,0.0,0.0,19500.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT024,23247.39,0.0,0.0,0.0,0.0,0.0,0.00,0.0,23247.39,0.0,0.0,0.00,0.0,0.0,0.0
OIT029,20813.35,0.0,0.0,0.0,0.0,10400.0,10413.35,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT030,482.94,0.0,0.0,0.0,0.0,0.0,0.00,0.0,482.94,0.0,0.0,0.00,0.0,0.0,0.0
OIT033,127500.00,0.0,0.0,0.0,38250.0,25500.0,63750.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT037,19144.74,0.0,0.0,0.0,0.0,0.0,0.00,0.0,19144.74,0.0,0.0,0.00,0.0,0.0,0.0
OIT038,21109.31,0.0,0.0,0.0,0.0,10555.0,0.00,0.0,0.00,0.0,0.0,10554.31,0.0,0.0,0.0
OIT039,31200.00,0.0,0.0,0.0,11200.0,0.0,0.00,0.0,0.00,0.0,0.0,20000.00,0.0,0.0,0.0

In [43]:
agg2 = agg.copy()
newMonthCols = {}
for _, m in calendar.months.items(): newMonthCols[m] = m + " Fatturato"
agg2 = agg2.rename(columns=newMonthCols)
agg2.head(10)

,Totale Fatturato,Anni Precedenti,Anni Successivi,Gennaio Fatturato,Febbraio Fatturato,Marzo Fatturato,Aprile Fatturato,Maggio Fatturato,Giugno Fatturato,Luglio Fatturato,Agosto Fatturato,Settembre Fatturato,Ottobre Fatturato,Novembre Fatturato,Dicembre Fatturato
code,,,,,,,,,,,,,,,
OIT006,25000.00,0.0,0.0,0.0,0.0,6500.0,18500.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT012,20110.00,0.0,0.0,0.0,0.0,10000.0,0.00,0.0,10110.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT019,19500.00,0.0,0.0,0.0,0.0,19500.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT024,23247.39,0.0,0.0,0.0,0.0,0.0,0.00,0.0,23247.39,0.0,0.0,0.00,0.0,0.0,0.0
OIT029,20813.35,0.0,0.0,0.0,0.0,10400.0,10413.35,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT030,482.94,0.0,0.0,0.0,0.0,0.0,0.00,0.0,482.94,0.0,0.0,0.00,0.0,0.0,0.0
OIT033,127500.00,0.0,0.0,0.0,38250.0,25500.0,63750.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0
OIT037,19144.74,0.0,0.0,0.0,0.0,0.0,0.00,0.0,19144.74,0.0,0.0,0.00,0.0,0.0,0.0
OIT038,21109.31,0.0,0.0,0.0,0.0,10555.0,0.00,0.0,0.00,0.0,0.0,10554.31,0.0,0.0,0.0
OIT039,31200.00,0.0,0.0,0.0,11200.0,0.0,0.00,0.0,0.00,0.0,0.0,20000.00,0.0,0.0,0.0

In [44]:
for _, m in calendar.months.items():
    agg2[m + " Incasso"] = 0
agg2["Totale Incasso"] = 0
agg2.head(10)

,Totale Fatturato,Anni Precedenti,Anni Successivi,Gennaio Fatturato,Febbraio Fatturato,Marzo Fatturato,Aprile Fatturato,Maggio Fatturato,Giugno Fatturato,Luglio Fatturato,...,Aprile Incasso,Maggio Incasso,Giugno Incasso,Luglio Incasso,Agosto Incasso,Settembre Incasso,Ottobre Incasso,Novembre Incasso,Dicembre Incasso,Totale Incasso
code,,,,,,,,,,,,,,,,,,,,,
OIT006,25000.00,0.0,0.0,0.0,0.0,6500.0,18500.00,0.0,0.00,0.0,...,0,0,0,0,0,0,0,0,0,0
OIT012,20110.00,0.0,0.0,0.0,0.0,10000.0,0.00,0.0,10110.00,0.0,...,0,0,0,0,0,0,0,0,0,0
OIT019,19500.00,0.0,0.0,0.0,0.0,19500.0,0.00,0.0,0.00,0.0,...,0,0,0,0,0,0,0,0,0,0
OIT024,23247.39,0.0,0.0,0.0,0.0,0.0,0.00,0.0,23247.39,0.0,...,0,0,0,0,0,0,0,0,0,0
OIT029,20813.35,0.0,0.0,0.0,0.0,10400.0,10413.35,0.0,0.00,0.0,...,0,0,0,0,0,0,0,0,0,0
OIT030,482.94,0.0,0.0,0.0,0.0,0.0,0.00,0.0,482.94,0.0,...,0,0,0,0,0,0,0,0,0,0
OIT033,127500.00,0.0,0.0,0.0,38250.0,25500.0,63750.00,0.0,0.00,0.0,...,0,0,0,0,0,0,0,0,0,0
OIT037,19144.74,0.0,0.0,0.0,0.0,0.0,0.00,0.0,19144.74,0.0,...,0,0,0,0,0,0,0,0,0,0
OIT038,21109.31,0.0,0.0,0.0,0.0,10555.0,0.00,0.0,0.00,0.0,...,0,0,0,0,0,0,0,0,0,0
OIT039,31200.00,0.0,0.0,0.0,11200.0,0.0,0.00,0.0,0.00,0.0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
newColOrder1 = [1] + [m + 3 for m in range(0, 12)] + [2, 0]
newColOrder2 = [1] + np.array([(m + 3, m + 3 + 12) for m in range(12)]).flatten().tolist() + [2, 0, -1]
final1 = agg.iloc[:,np.array(newColOrder1)]
final2 = agg2.iloc[:,np.array(newColOrder2)]

In [48]:
final1.head(10)

,Anni Precedenti,Gennaio,Febbraio,Marzo,Aprile,Maggio,Giugno,Luglio,Agosto,Settembre,Ottobre,Novembre,Dicembre,Anni Successivi,Totale Fatturato
code,,,,,,,,,,,,,,,
OIT006,0.0,0.0,0.0,6500.0,18500.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,25000.00
OIT012,0.0,0.0,0.0,10000.0,0.00,0.0,10110.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,20110.00
OIT019,0.0,0.0,0.0,19500.0,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,19500.00
OIT024,0.0,0.0,0.0,0.0,0.00,0.0,23247.39,0.0,0.0,0.00,0.0,0.0,0.0,0.0,23247.39
OIT029,0.0,0.0,0.0,10400.0,10413.35,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,20813.35
OIT030,0.0,0.0,0.0,0.0,0.00,0.0,482.94,0.0,0.0,0.00,0.0,0.0,0.0,0.0,482.94
OIT033,0.0,0.0,38250.0,25500.0,63750.00,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,127500.00
OIT037,0.0,0.0,0.0,0.0,0.00,0.0,19144.74,0.0,0.0,0.00,0.0,0.0,0.0,0.0,19144.74
OIT038,0.0,0.0,0.0,10555.0,0.00,0.0,0.00,0.0,0.0,10554.31,0.0,0.0,0.0,0.0,21109.31
OIT039,0.0,0.0,11200.0,0.0,0.00,0.0,0.00,0.0,0.0,20000.00,0.0,0.0,0.0,0.0,31200.00

In [49]:
final2.head(10)

,Anni Precedenti,Gennaio Fatturato,Gennaio Incasso,Febbraio Fatturato,Febbraio Incasso,Marzo Fatturato,Marzo Incasso,Aprile Fatturato,Aprile Incasso,Maggio Fatturato,...,Settembre Incasso,Ottobre Fatturato,Ottobre Incasso,Novembre Fatturato,Novembre Incasso,Dicembre Fatturato,Dicembre Incasso,Anni Successivi,Totale Fatturato,Totale Incasso
code,,,,,,,,,,,,,,,,,,,,,
OIT006,0.0,0.0,0,0.0,0,6500.0,0,18500.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,25000.00,0
OIT012,0.0,0.0,0,0.0,0,10000.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,20110.00,0
OIT019,0.0,0.0,0,0.0,0,19500.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,19500.00,0
OIT024,0.0,0.0,0,0.0,0,0.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,23247.39,0
OIT029,0.0,0.0,0,0.0,0,10400.0,0,10413.35,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,20813.35,0
OIT030,0.0,0.0,0,0.0,0,0.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,482.94,0
OIT033,0.0,0.0,0,38250.0,0,25500.0,0,63750.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,127500.00,0
OIT037,0.0,0.0,0,0.0,0,0.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,19144.74,0
OIT038,0.0,0.0,0,0.0,0,10555.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,21109.31,0
OIT039,0.0,0.0,0,11200.0,0,0.0,0,0.00,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,31200.00,0